# Eclipse project #
###################
/bin/
/.settings/
.classpath
.project

# Compiled files  #
###################
*.class
*.jar

# Other files     #
###################
.Trashes
ehthumbs.db
Thumbs.db
