# Eclipse project #
###################
bin/
.settings/
.idea/
.classpath
.project

# Compiled files  #
###################
*.class
*.jar

# Other files     #
###################
.Trashes
ehthumbs.db
Thumbs.db
*~
